@font-face {
  font-family: 'GochiHand';
  src: local('GochiHand'), url(./fonts/GochiHand-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 1366px) {
  html {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 0.5em;
  }
}
